.cart-item img {
    max-height: 5em;
    aspect-ratio: 1 / 1;
}

.item-details {
    margin-left: .5em;
    justify-content: center;
    line-height: 1.5em;
}

.item-price {
    align-content: center;
}

.quantity-select {
    scale: .8;
}

.remove {
    visibility: hidden;
}

.cart-item:hover .remove {
    visibility: visible;
    color: var(--light-brown);
    cursor: pointer;
    &:hover {
        color: var(--red);
    }
}