.product-form {
    max-height: fit-content;
    & > * {
        margin: .5em 0;
    }
}

.dynamic-two-columns {
    flex-wrap: wrap;
    gap: 1em;

    & > :first-child {
        flex-grow: 5;
        flex-basis: 25em;
    }

    & > :last-child {
        flex-grow: 3;
        flex-basis: 15em;
    }
}