.product-form {
    max-height: fit-content;
    & > * {
        margin: .5em 0;
    }
}

.dynamic-two-columns {
    flex-wrap: wrap;
    gap: 1em;

    & > :first-child {
        flex: 1 1 25em;
    }

    & > :last-child {
        flex: 1 1 15em;
    }
}