.color-selector {
    display: flex;
    flex-wrap: wrap;
    gap: .1em;
    width: 100%;
}

.color-option {
    display: flex;
    align-items: center;

    input[type="radio"] {
        display: none;
    }

    label {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 5px;
        cursor: pointer;
        border-radius: 3px;
        border: 1px solid var(--black);
    }

    &.selected {
        scale: 110%;
    }
}