.product-categories {
    gap: 1em;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.product-category {
    max-width: fit-content;
    word-wrap: none;
    margin: 0;
    cursor: pointer;
    &:hover {
        color: var(--tan);
    }
}

.selected-category {
    color: var(--blue);
}