.images-display {
    width: 0;
}

.thumbnails {
    gap: .5em;
    margin: -1em -1em 0 -1em;
    padding: 1em;
    overflow-x: auto;
    width: auto;
    img {
        max-height: 4em;
        aspect-ratio: 1 / 1;
        object-fit: contain;
        border-radius: .3em;
        padding: 0;
        cursor: pointer;
    }
}

.product-image-display {
    padding-top: 1em;
    position: relative;
    user-select: none;
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--dim);
    img {
        aspect-ratio: 1 / 1;
        object-fit: contain;
        max-width: 100%;
    }
}

.image-cycle-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: bounding-box;
    cursor: pointer;
    color: var(--light-brown);
    opacity: .5;
    font-size: 2em;
    :hover {
        color: var(--tan);
    }
    &:first-of-type {
        left: 0;
    }
    &:last-of-type {
        right: 0;
    }
}