/* PEEKING AND BOOING */
.peek-a-boo-container {
    position: relative;
    z-index: 1;
    text-wrap: nowrap;
    width: fit-content;
    * {
        user-select: none;
    }
    .peek-a-boo-toggle {
        cursor: pointer;
        width: fit-content;
        transition: opacity .5s ease-in-out, border-radius .2s ease-in-out;
        &.selected {
            color: var(--blue);
        }
        &:hover, &.selected:hover {
            color: var(--tan);
        }
    }
    ul.peek-a-boo-list {
        li.peek-a-boo-list-item {
            align-items: center;
            cursor: pointer;
            list-style: none;
            margin: 0;
            &:hover, &.selected:hover {
                color: var(--tan);
                .badge {
                    background-color: var(--tan);
                }
            }
            &.selected {
                color: var(--blue);
                .badge {
                    background-color: var(--blue);
                }
            }
            svg {
                margin-right: .5em;
            }
            .badge {
                margin-left: .5em;
                border-radius: 50%;
                width: fit-content;
                min-width: 1.4em;
                aspect-ratio: 1 / 1;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .1em;
                font-size: .8em;
                color: var(--white);
                background-color: var(--brown);
                &:empty {
                    display: none;
                }
            }
        }
    }
}

/* PEEKING */
.peek-a-boo-container.peek {
    .peek-a-boo-toggle {
        cursor: pointer;
        width: fit-content;
        visibility: visible;
        opacity: 1;
    }
    &.transition-visibility ul.peek-a-boo-list {
        transition: opacity .2s ease-in-out, border-radius .2s ease-in-out, visibility .2s ease-in-out;
    }
    ul.peek-a-boo-list {
        position: absolute;
        top: 100%;
        margin-top: .5em;
        visibility: visible;
        opacity: 1;
        transition: opacity .2s ease-in-out, border-radius .2s ease-in-out;

        &.hide-menu {
            opacity: 0;
            visibility: hidden;
            border-radius: 1em;
        }

        li.peek-a-boo-list-item {
            border-bottom: 1px solid var(--dim);
            padding-block: .8em;
            &:first-of-type {
                padding-top: 0;
            }
            &:last-of-type {
                border: none;
                padding-bottom: 0;
            }
        }
    }

    &.left {
        align-items: flex-start;
        .peek-a-boo-toggle.selected {
            border-radius: 1em 1em 1em 0;
        }
        .peek-a-boo-list {
            border-radius: 0 1em 1em 1em;
        }
    }
    &.right {
        align-items: flex-end;
        .peek-a-boo-toggle.selected {
            border-radius: 1em 1em 0 1em;
        }
        .peek-a-boo-list {
            border-radius: 1em 0 1em 1em;
        }
    }
}

/* BOOING */
.peek-a-boo-container.boo {
    .peek-a-boo-toggle {
        visibility: hidden;
        opacity: 0;
        max-height: 0;
        padding: 0;
    }

    ul.peek-a-boo-list {
        li.peek-a-boo-list-item {
            border-right: 1px solid var(--dim);
            padding-inline: 1em;
            &:first-of-type {
                padding-left: 0;
            }
            &:last-of-type {
                border: none;
                padding-right: 0;
            }
        }
    }
}