:root {
    /* BRAND COLORS */
    --cream: #f4ede5;
    --tan: #dea36d;
    --light-brown: #9b572a;
    --brown: #4f3528;
    --blue: #248cc2;
    --red: #d9534f;
    /* NEUTRAL COLORS */
    --white: #fff;
    --light: #fafafa;
    --dim: #ccc;
    --dark: #555;
    --black: #000;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body, p {
    margin: 0;
}

body {
    background-color: var(--cream);
}

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--brown);
    margin: 1em 0;
}

p {
    font-family: 'Merriweather', serif;
    color: var(--brown);
}

a {
    color: var(--blue);
}
/* CLASSES */
.bubble, button {
    box-shadow:
        1px 1px 5px rgba(0, 0, 0, 0.2),
        3px 3px 10px rgba(0, 0, 0, 0.1);
}

.bubble {
    background-color: white;
    border-radius: 1em;
    padding: 1em;
}

/* FORM ELEMENTS */
button {
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--blue);
    border-radius: .5em;
    padding: .5em;
    font-size: .8em;
    cursor: pointer;
    transition: all .3s;
    &:hover {
        background-color: var(--white);
        color: var(--blue);
        transition: all .3s;
    }
}

select {
    background-color: var(--light);
    border: 1px solid var(--dim);
    border-radius: .5em;
    padding: 0.5em 3.5em 0.5em 1em;
    font-size: .8em;
    color: var(--dark);
    cursor: pointer;
    
    background-image:
        linear-gradient(45deg, transparent 50%, var(--dark) 50%),
        linear-gradient(135deg, var(--dark) 50%, transparent 50%),
        linear-gradient(to right, var(--dim), var(--dim));
    background-position:
        calc(100% - 17px),
        calc(100% - 12px),
        calc(100% - 2.5em);
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

button, select {
    appearance: none;
}

/* LAYOUT */

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}