nav {
    background-color: #fffffff7;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

nav ul {
    display: flex;
    padding: 1em;
    li {
        font-size: 1.2em;
        list-style: none;
        &:last-of-type {
            border: none;
            padding: 0;
            margin: 0;
        }
        a {
            text-decoration: none;
            flex-wrap: nowrap;
            align-items: center;
            color: var(--brown);
            & > * {
                margin-right: .2em;
            }
        }
    }
}

.selected {
    color: var(--blue);
    .cart-count {
        background-color: var(--blue);
    }
}
.selected:hover, nav ul li a:hover, .menu-button:hover {
    color: var(--tan);
    .cart-count {
        background-color: var(--tan);
    }
}

.cart-count {
    margin-left: .5em;
    border-radius: 50%;
    width: fit-content;
    min-width: 1.4em;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1em;
    font-size: .8em;
    color: var(--white);
    background-color: var(--brown);
}

.menu-button {
    cursor: pointer;
    svg {
        font-size: 2em;
        user-select: none;
    }
}


@media (max-width: 600px) { /* Mobile */
    nav {
        overflow: visible;
    }
    nav ul {
        flex-direction: column;
        position: absolute;
        right: 1em;
        margin-top: 1em;
        opacity: 1;
        visibility: visible;
        border-radius: 1em 0 1em 1em !important;
        transition: opacity .2s ease-in-out, visibility .2s ease-in-out, border-radius .2s ease-in-out;
        li {
            border-bottom: 1px solid var(--dim);
            margin-bottom: .8em;
            padding-bottom: .8em;
        }
    }

    ul.hide-menu {
        opacity: 0;
        visibility: hidden;
        border-radius: 1em !important;
    }

    .menu-button {
        transition: border-radius .2s ease-in-out;
        &.selected {
            border-radius: 1em 1em 0 1em;
        }
    }
}

@media (min-width: 601px) { /* Desktop */
    nav ul {
        flex-direction: row;
        display: auto;
        li {
            border-right: 1px solid var(--dim);
            margin-right: 1em;
            padding-right: 1em;
        }
    }
    .menu-button {
        display: none;
    }
}
