nav {
    background-color: var(--light);
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    ul {
        display: flex;
        flex-direction: row;
        a {
            list-style: none;
            margin-right: 1em;
            text-decoration: none;
            color: var(--dark);
            &:hover {
                color: var(--black);
            }
        }
    }
}