nav {
    background-color: #f9f9f9;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    ul {
        display: flex;
        flex-direction: row;
        a {
            list-style: none;
            margin-right: 1em;
            text-decoration: none;
            color: #444444;
            &:hover {
                color: #000000;
            }
        }
    }
}